<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VaporChat2020Application.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VaporChat2020Application.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VaporChat2020Application.My.MySettings>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="VaporChat2020Ver" serializeAs="String">
                <value>1.0.5.1 夢 1</value>
            </setting>
            <setting name="VaporChatVer" serializeAs="String">
                <value>1.0.3.1 夢 1</value>
            </setting>
            <setting name="VaporFuncVer" serializeAs="String">
                <value>1.0.4.1 夢1</value>
            </setting>
            <setting name="Muted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lobby" serializeAs="String">
                <value>elfa</value>
            </setting>
            <setting name="LastTheme" serializeAs="String">
                <value>null</value>
            </setting>
        </VaporChat2020Application.My.MySettings>
    </userSettings>
    <applicationSettings>
        <VaporChat2020Application.My.MySettings>
            <setting name="Publisher" serializeAs="String">
                <value>kronelab</value>
            </setting>
        </VaporChat2020Application.My.MySettings>
    </applicationSettings>
</configuration>